.container {
    width: 1280px;
    margin: 0 auto;
}

.top{
    text-align: left;
    display: flex;
    font-size: 80px;
}


.header-nav{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 61px;
    background-color: #35444F;
    text-align: center;
    color: white;
    border: orchid 1px;
    line-height: 72px;

    }

.header-nav a{
    padding:22px 38px 22px;
    color: white;
}
.header-nav a:hover{
    background-color: #222F3A;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.left-nav{
    display: inline-block;
    vertical-align: top;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;

}
.left-nav a{
    color: #495863;
    display: block;
    font-size: 27px;
    text-align: justify;
    padding-left: 42px;
    line-height: 81px;

    height: 81px;
    margin: 0;
}
.left-nav a:hover{
    background-color: #E8E8E8;
    font-weight: bold;
    padding-left: 65px;
}

.content{
    float: right;
    margin: 0 0 30px 0;
    display: inline-block;
    width: 885px;
}

.content-image{
    height: 529px;
    width: 885px;
    border: 1px solid #828282;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content-image :hover{
    overflow: hidden;
    transition: 1s;
    transform: scale(1.2);
}

.content-text{
    display: inline-block;
    text-align: justify;
    font-size: 18px;
    padding: 0;
}
.content-text p{
    margin-top: 34px;
}

.footer-nav{
    height: 69px;
    width: 1280px;
    font-size: 28px;
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    line-height: 69px;
    text-align: center;
}

.footer-nav a{
    padding: 19px 0;
    font-size: 28px;
    color: black;
    width: 928px;
    margin-left: 30px;
    }

.footer-nav a:hover{
    border-bottom: 1px #3181AB solid;
    color: #3181AB;
    padding-bottom: 2px;
}

.copyright{
    font-size: 22px;
    padding: 0;
    justify-content: right;
    margin-left: 60px;
}