a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1900px;
}
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #313131;
}
.logo-img {
    width: 27px;
    height: 27px;
    margin-left: 20px;
    vertical-align: middle;
}
.logo-text {
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    vertical-align: middle;
    padding-left: 10px;
}
.search-img {
    width: 17px;
    height: 17px;
    padding: 27px 27px;
    background-color: black;
    margin-left: 140px;
}
.menu {
    display: flex;
}
.header__link {
    color: #ffffff;
    font-size: 15px;
    margin: 0 20px;
}
.header__link:hover {
    color: #14b9d5;
}
.parallax {
    margin-top: -27px;
    height: 369px;
    background: url(../img/header.png) center/cover no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.parallax__text {
    padding-top: 200px;
    font-weight: bold;
    font-size: 27px;
    color: #ffffff;
}
.parallax__link__green {
    color: #ffffff;
    background: #89ca62;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px 17px 19px;
    margin-bottom: 45px;
}
.parallax__link__blue {
    color: #ffffff;
    background: #14b9d5;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px 17px 19px;
    margin-left: 20px;
}
.posts-container {
    background-color: #f2f2f2;
    margin-top: -27px;
}
.title__posts {
    padding-top: 25px;
    font-size: 27px;
    color: #18b4cf;
    text-align: center;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    height: 800px;
    align-content: center;
}
.posts__item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.post__text {
    font-weight: bold;
    font-size: 18px;
    margin-top: -20px;
    padding: 15px 0;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.parallax2 {
    margin-top: -27px;
    height: 588px;
    background: url(../img/parallax.png) center/cover no-repeat;
    background-attachment: fixed;
    text-align: center;
    display: grid;
    justify-items: center;
}
.parallax2__element {
    padding-bottom: 100px;
}
.parallax__text2 {
    padding-top: 100px;
    font-weight: bold;
    font-size: 27px;
    color: #ffffff;
}
.clients__img {
    margin-top: -200px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.carousel {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
}
.carousel_img {
    width: 100%;
}
.hot-news {
    display: grid;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
    grid-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.hot-news-item1 {
    display: grid;
    align-items: center;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-template-areas: "img1 text1";
    grid-area: item1;
}
.hot-news-img1 {
    grid-area: img1;
}
.hot-news-text1-h3 {
    font-weight: bold;
    font-size: 18px;
}
.hot-news-text1 {
    grid-area: text1;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}
.hot-news-item2 {
    display: grid;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-template-areas:
    "img2"
    "text2";
    grid-area: item2;
}
.hot-news-img2 {
    grid-area: img2;
}
.hot-news-text2 {
    grid-area: text2;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.hot-news-text-main-h3 {
    font-weight: bold;
    font-size: 18px;
}
.hot-news-text-main {
    grid-area: text-main;
    font-size: 14px;
    text-align: end;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding: 0 14px;
}
.hot-news-item3 {
    grid-area: item3;
    display: grid;
    grid-template-areas:
    "img3"
    "text-main";
}
.hot-news-img3 {
    grid-area: img3;
    width: 100%;
}
.hot-news-item4 {
    grid-area: item4;
    display: grid;
    grid-template-areas:
    "img4"
    "text-main";
}
.hot-news-img4 {
    grid-area: img4;
    width: 100%;
}

.hot-news-item5 {
    grid-area: item5;
    display: grid;
    grid-template-areas:
    "img5"
    "text-main";
}
.hot-news-img5 {
    grid-area: img5;
    width: 100%;
}

.hot-news-item6 {
    grid-area: item6;
    display: grid;
    grid-template-areas:
    "img6"
    "text-main";
}
.hot-news-img6 {
    grid-area: img6;
    width: 100%;
}

.hot-news-item7 {
    display: grid;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-template-areas:
    "img7"
    "text7";
    grid-area: item7;
}
.hot-news-img7 {
    grid-area: img7;
}
.hot-news-text7 {
    grid-area: text7;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.hot-news-item8 {
    display: grid;
    align-items: center;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-template-areas: "img8 text8";
    grid-area: item8;
}
.hot-news-img8 {
    grid-area: img8;
}
.hot-news-text8-h3 {
    font-weight: bold;
    font-size: 18px;
}
.hot-news-text8 {
    grid-area: text8;
    font-size: 14px;
    text-align: end;
    padding: 0 14px;
}
.copy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: 80px;
    background-color: black;
}
.footer-text {
    font-size: 13px;
    color: #ffffff;
    margin-left: 90px;
}
.footer-logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.footer__main {
    margin-right: 50px;
}
