* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

html {
    font-size: 20px;
}


.top-menu {
    text-align: center;
}

.top-menu-list{
    text-align: center;
    letter-spacing: 2.7px;
}

.top-menu-item{
    display: inline-block;
    padding: 25px 72px;
}

.top-menu-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #FF0000;
    font-weight: bold;
}

.title{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-align: center;
    margin: 48px 253px 38px 253px;
    text-transform: uppercase;
    text-decoration: none;
    color: #373737;
}
.img{
    width: auto;
    height: 789px;
    background: url("../img/unnamed.png") no-repeat;
    background-size: cover;
}


.paragraph-first {
    text-align: center;
    margin: 38px 67px 28px 67px;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
}

.paragraph-second{
    text-align: center;
    margin: 28px 67px 66px 67px;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
    }

.button{
    display: inline-block;
    margin-left: 45%;
    color: white;
    user-select: none;
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background: #FF0000;
    padding: 18px 43px 17px 42px;
}

.bottom{
    padding: 0px;
    margin:82px 105px 29px 713px;

}

.bottom-text{
    color: #373737;
    font-weight: bold;
    padding: 0px;
    text-align: right;
    margin-right: 100px;
}
